.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fa.fa-bell.fa-lg.header-icon.toggle-notifications#notifications(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    .dropdown-menu(aria-labelledby='notifications')
      .noti-head
        | Notifications
        span 50
      .noti-content
        ul.list-unstyled
          li
            i.fa.fa-envelope-o.fa-lg
            | You Got Email From Bla Bla Bla 
          li
            i.fa.fa-money.fa-lg
            | You Got Money From Bla Bla Bla 
          li
            i.fa.fa-thumbs-o-up.fa-lg
            | You Got Like From Bla Bla Bla 
          li
            i.fa.fa-envelope-o.fa-lg
            | You Got Email From Bla Bla Bla 
          li
            i.fa.fa-money.fa-lg
            | You Got Money From Bla Bla Bla
      .noti-foot.text-center: a(href="#") View All Notifications
  i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon