* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  &.open {
    font-family: "Open Sans", sans-serif;
  }
  &.public {
    font-family: "Public Sans", sans-serif;
  }
  &.roboto {
    font-family: "Roboto", sans-serif;
  }
  &.source {
    font-family: "Source Sans Pro", sans-serif;
  }
}
.page {
  min-height: 100vh;
  .content-area {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: 0.3s;
    float: right;
    will-change: width;
    background-color: #f2f1f6;
    &.no-sidebar {
      width: 100%;
    }
  }
  .page-head {
    margin-top: 20px;
    padding: 20px;
    .page-title {
      font-weight: bold;
      color: #27ae60;
    }
    .page-description {
    }
  }
}
