- var pageTitle = 'Homepage';
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{pageTitle}
    include pug/layout/styles
  body
    .page.home-page
      include pug/layout/sidebar
      .content-area
        include pug/layout/header
        .content
          h1 #{pageTitle}
    include pug/layout/scripts