- var pageTitle = 'Homepage';
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layout/meta
    include pug/layout/styles
  body
    .page.home-page
      include pug/layout/sidebar
      .content-area
        include pug/layout/header
        .content
          h1 #{pageTitle}
    include pug/layout/scripts