.settings-box {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 20px;
  transition: 0.3s;
  .option-title {
    font-weight: bold;
    color: #666;
    margin: 10px 0 15px;
    font-size: 18px;
  }
  .toggle-settings {
    position: absolute;
    left: -55px;
    top: 100px;
    background-color: #fff;
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }
  &.hide-settings {
    right: -250px;
  }
  .option-box {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .color-options {
    ul {
      $colors: #27ae60, #2980b9, #c0392b, #d35400, #8e44ad;
      @for $i from 1 through length($colors) {
        li:nth-child(#{$i}) {
          background-color: nth($colors, $i);
        }
      }
      li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        opacity: 0.7;
        cursor: pointer;
        display: inline-block;
        &.active {
          opacity: 1;
        }
      }
    }
  }
  .font-options {
    select {
      text-transform: capitalize;
    }
  }
}
