.settings-box.hide-settings
  .toggle-settings
    i.fa.fa-gear.fa-lg
  .settings-content
    .option-box
      h4 Color Options
    .option-box
      h4 Font Options
    .option-box
      h4 Sidebar Options